body {
  font-family: Helvetica, sans-serif;
   font-size: 1rem;
  line-height: 1.5;
  margin: 30px;
  padding: 30px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2rem;
  line-height: 1.6;
  margin: 50px;
}

section {
  border: 1.4px solid black;
  padding: 30px;
  margin: 9.7px;
  position: relative;
  box-sizing: border-box;
  background-color: #faf4e3;
}

.title {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
  padding: 0px;
  width: 150px;
  text-align: center;
  border: 1px solid black;
  color: white;
}
.chicken .title { background-color: #577f6c; }
.beef .title { background-color: #4b6382; }
.sushi .title { background-color: #775649; }

/***Desktop View***/
@media (min-width: 992px) {
  section { width: 31%;
    box-sizing: border-box;
            float: left;}
}

/***Tablet View***/
@media (min-width: 768px) and (max-width: 991px) {
  section { width: 47%;
    box-sizing: border-box;
            float: left;}
  section:nth-child(4)  {width: 97%;}
}

/**Mobile View**/
@media (max-width: 767px) {
  section {width: 97%;
          margin: 20px; }
}
